/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */
@import '~@fortawesome/fontawesome-free/css/all.css';
@import '~antd/dist/antd.css';
@import '~bootstrap/dist/css/bootstrap.min.css';

body {
  position: relative;
  height: 100vh;
  overflow-y: hidden;
}

.ant-tooltip-inner {
  background-color: transparent;
  box-shadow: none;
}

.ant-tooltip-content {
  border: none;
}

.ant-tooltip-arrow {
  display: none;
}

::-webkit-scrollbar { width: 8px; }

::-webkit-scrollbar-track {
  background: rgb(42,35,73);
  border-radius: 5px;
}

.runeterra-card-summary ::-webkit-scrollbar-track {
  background: rgb(49,45,83);
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  background: rgb(167,167,199);
  border-radius: 5px;
}

.runeterra-card-summary .ant-progress-text {
  color: rgb(167,167,199);
}
